<a href="https://colab.research.google.com/github/Programer1554/Data-Science-4-Sem/blob/main/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Comprehensions

From loops to comprehensions

In [ ]:
list_of_numbers = [1,2,4,6,11,14,17,20]
#Let ys first initialize a list where we will be appending the squares in each iteration
squares = []
for number in list_of_numbers:
  squares.append(number**2)
print(f"The list of squared numbers is {squares}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
#Getting the list of squares using list comprehension
squares = [number**2 for number in list_of_numbers]
print(squares)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
#Writing list comprehension using conditions
even_squares = [number**2 for number in list_of_numbers if number%2==0]
print(even_squares)

[4, 16, 36, 196, 400]

In [ ]:
odd_squares = [number**2 for number in list_of_numbers if number%2!=0]
print(odd_squares)

[1, 121, 289]

In [ ]:
new_numbers = [number**2 for number in list_of_numbers if number%2==0 else number**3]
print(new_numbers)

SyntaxError: invalid syntax (<ipython-input-5-bfc02e2d45c9>, line 1)

In [ ]:
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

Using for loop

In [ ]:
even_squares = []
for number in list_of_numbers:
  if number%2==0:
    even_squares.append(number**2)
print(even_squares)

[4, 16, 36, 196, 400]

In [ ]:
#Using list comprehension
even_squares = [number**2 for number in list_of_numbers if number%2==0]
print(even_squares)

[4, 16, 36, 196, 400]

Writing list comprehensions for nested loops

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list_of_numbers=[]
for i in range(4):
  for j in range(3):
    list_of_numbers.append(j)
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
#We can write it in a slightly different way
list_of_numbers = [j for i in range(4) for j in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
#Alternate way to write list comprehension
list_of_numbers = [j for j in range(3) for i in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2]

In [ ]:
sample = [[]]
len(sample)
sample[0]

[]

In [ ]:
list_of_lists=[]
for i in range(4):
  list_of_lists.append([])
  for j in range(3):
    list_of_lists[i].append(j)
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#Using list comprehension we can write the same thing
list_of_lists = [[j for j in range(3)] for i in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#Alternative
list_of_lists = [[i for j in range(3)] for i in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
hinsenberg_quote= "It ceases to exist withput me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."
words_by_walter= hinsenberg_quote.split()
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'withput', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [ ]:
#Let us store the first letter of each word in another list
first_letters = []
for word in words_by_walter:
  first_letters.append(word[0])
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
#The same task but with list comprehension
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
hinsenberg_quote.split(',')

['It ceases to exist withput me. No',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in danger',
 ' Skyler. I am the danger.']

In [ ]:
#Let u store the first letter of each word in another list
first_letters = []
for word in words_by_walter:
  first_letters.append(word[0])
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
#The same task but now with list comprehension
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
hinsenberg_quote.split(',')

['It ceases to exist withput me. No',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in danger',
 ' Skyler. I am the danger.']

In [ ]:
my_string = 'Alphabet Inc.'
list_of_characters = [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [ ]:
#We can also use list comprehension to get a tuple as well
#Suppose we have a tuple of days
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
#Let us create a tuple where we want to remove the word 'day' from each tuple element
days_without_day= tuple(day.replace('day', '') for day in days)
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

#Set Comprehension

In [ ]:
#Using a for loop
first_letters = set()
for word in words_by_walter:
  first_letters.add(word[0])
print(first_letters)

{'m', 's', 'N', 'y', 'e', 'l', 'd', 'k', 'i', 'c', 'n', 'S', 't', 'w', 'a', 'I'}

In [ ]:
#Using set comprehension
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'m', 's', 'N', 'y', 'e', 'l', 'd', 'k', 'i', 'c', 'n', 'S', 't', 'w', 'a', 'I'}

#Dictionary Comprehensions

In [1]:
county_city_list= [('India','New Delhi'),('Australia','Canberra'),('United States', "Washington DC"), ('England', 'London')]
county_city_dict= dict(county_city_list)
print(county_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [5]:
#The conventional for loop approach
flipped={}
for county, city in county_city_dict.items():
  flipped[city]= county
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [6]:
#The new dictionary comprehension
flipped= {city: county for county, city in county_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [7]:
#We can further add conditionals
flipped= {city: county for county, city in county_city_dict.items() if county[0] in ['E', 'A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [8]:
#The new dictionary comprehension
flipped= {county[:2]: city[-2] for county, city in county_city_dict.items()}
print(flipped)

{'In': 'h', 'Au': 'r', 'Un': 'D', 'En': 'o'}

In [9]:
print(county_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}