<a href="https://colab.research.google.com/github/Programer1554/Data-Science-4-Sem-15th-Feb/blob/main/Conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Understanding the difference between Statements and Expressions

In [1]:
#Assignment statement
x=3

print(1+1)
print(len("Hello Team B.Tech (CSE)"))

2
23

In [2]:
y=3.14
y

3.14

In [3]:
a='Mighty'
# b = a == True

a=='Mighty'

True

In [4]:
#Import Statement
import pandas as pd
print(y)

3.14

In [5]:
y

3.14

Multi-line Statements

In [6]:
x=1
y=2
z=3
y

2

In [7]:
a=1+2+3+4+5+6+7+8+9+10
a

55

In [8]:
my_list=[1]
my_tuple=(1,)
my_list, my_tuple

([1], (1,))

In [9]:
a=(1+2+3+4+5+6+7+8+9+10,)
a

(55,)

In [10]:
type(a)

tuple

In [12]:
a=1
b=2
colors= 'Set theory is the mathematical theory of well-determined collections, called sets, of objects that are called members, or elements'

colors= 'Set theory is the mathematical theory of well-determined collections, called sets, \
 of objects that are called members, or elements, of the set. Pure set theory deals exclusively \
 with sets, so the only sets under consideration are those whose members are also sets. \
 The theory of the hereditarily-finite sets, namely those finite sets whose elements are also finite sets, \
 the elements of which are also finite, and so on, is formally equivalent to arithmetic. \
 So, the essence of set theory is the study of infinite sets and \
 therefore it can be defined as the mathematical thoery of the actual-as opposed to potential infinite. '

colors

'Set theory is the mathematical theory of well-determined collections, called sets,  of objects that are called members, or elements, of the set. Pure set theory deals exclusively  with sets, so the only sets under consideration are those whose members are also sets.  The theory of the hereditarily-finite sets, namely those finite sets whose elements are also finite sets,  the elements of which are also finite, and so on, is formally equivalent to arithmetic.  So, the essence of set theory is the study of infinite sets and  therefore it can be defined as the mathematical thoery of the actual-as opposed to potential infinite. '

In [13]:
c=3
c

3

In [14]:
a=1
b=2
c=3
a,b,c=[1,'a',True],(45,67),{'Name':'Aakarshak','Age':20}
a

[1, 'a', True]

In [15]:
b

(45, 67)

In [16]:
c

{'Name': 'Aakarshak', 'Age': 20}

In [17]:
a,b=b,a

a

(45, 67)

In [18]:
b

[1, 'a', True]

#Python Comments

In [19]:
#This is a comment
#print('Hello')
print('Hello')

Hello

In [ ]:
# This is a long comment
# and it extends
# to multiple lines

In [20]:
"""This is also a
perfect example of
iurhsuibsrubur
rfbnfiubfiwuaenlkn
rnusrbyosoemd
hfhfdjd
multi-line comments"""
a=3
print(a)

3

#Indentation in Python

In [21]:
a=2
b=1
#if b>a:
#  a=5
#  b=5
a

2

In [22]:
b

1

In [23]:
a,b=1,2
if a<b:

SyntaxError: incomplete input (<ipython-input-23-aaeeefcbbaf9>, line 2)

#Conditional Statements

In [24]:
i=4
if i==2:
  print(2)
elif i==3:
  print(3)
else:
  print('not 2 and 3')

not 2 and 3

In [1]:
x=30 #Statement 1 - Assignment Statement

if x==30:
  print('x is greater than 10!')
  print(f'x is {x}')

x is greater than 10!
x is 30

In [2]:
x==20

False

In [3]:
if False:
  print('It was true!')

In [4]:
#Using else: statement
x=False
y=True

if x:
  print('y was True!')
else:
  print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [5]:
city='New Delhi'

if city=='New Delhi':
  print('Welcome to the Indian Capital')
elif city=='Mumbai':
  print('Welcome to the Financial Capital of India!')
else:
  print('Where are you?')

Welcome to the Indian Capital

In [6]:
person='Johhny'

if person=='John':
  print(f'Welcome {person}!')
else:
  print("Welcome, what's your name?")

Welcome, what's your name?

In [7]:
number1= -2
number2= 9
if number1>0:
  if number2<10:
    print(number2+number1)
  else:
    print('Should be greater than 10')

elif number1<0:
  print("ah, that's a negative number.")
else:
  print('The number is zero')

ah, that's a negative number.

#Truthy & Falsy

In [9]:
#Consider the following statement
if False:
  print("What do you say?")
else:
  print("I have nothing to say.")

I have nothing to say.

In [10]:
if [None]:
  print("Well I had a really bad day!")
else:
  print("Come on you aced the test.")

Well I had a really bad day!

In [11]:
if {1:2,3:4}:
  print("This is True")
else:
  print("This is False")

This is True