<a href="https://colab.research.google.com/github/Programer1554/Data-Science-4-Sem/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

#def Statements



```
def name_of_function():
  '''
  Docstring explains function.
  '''
  print('Hello')
```

Example 1: Extract a list of first letters from a sentence

In [1]:
hinsenberg_quote= "It ceases to exist withput me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."
words_by_walter= hinsenberg_quote.split(' ')
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [2]:
#Now let us write a function which does the same task for any given sentence
def extract_first_letters(sentence):
  words= sentence.split(' ')
  first_letters=[word[0] for word in words]
  return first_letters

print(extract_first_letters(hinsenberg_quote))

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [3]:
#Store the result of the function in another variable
first_letters_hinsenberg= extract_first_letters(hinsenberg_quote)
print(first_letters_hinsenberg)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [4]:
starwars_quote= "May the Force be with you."
first_letters_starwars= extract_first_letters(starwars_quote)
print(first_letters_starwars)

['M', 't', 'F', 'b', 'w', 'y']

Example 2: Let us now write a function which returns the factorial of a number

In [5]:
def factorial(n):
  result=1
  if n<0:
    print("Factorial is not defined for negative numbers")
  elif n>0:
    for i in range(1, n+1):
      result= result*i
    print(f"The factorial of {n} is {result}.")
  else:
    result=1
    print(f"The factorial of {n} is {result}.")

factorial(5)

The factorial of 5 is 120.

In [6]:
#Now let us define a list of numbers for which we want to calculate the factors
list_of_numbers= [3,5,8,12,4,6]
#We can write a list of comprehension for the same task
factorial_list= [factorial(number) for number in list_of_numbers if number%2!=0]
print(factorial_list)

The factorial of 3 is 6.
The factorial of 5 is 120.
[None, None]

Example 3: Let us write a function which takes a date as a string and prints the quater as output

In [7]:
def assignQuater(user_date):
  date_year=user_date[:4]
  date_month=user_date[5:7]

  if (date_month>='01') & (date_month<='03'):
    quater= date_year+ '-Q1'
  elif (date_month>='04') & (date_month<='06'):
    quater= date_year+ '-Q2'
  elif (date_month>='07') & (date_month<='09'):
    quater= date_year+ '-Q3'
  else:
    quater= date_year+ '-Q4'

  print(f'The corresponding quater for the date {user_date} is {quater}')

sample_date= '2020-07-01'
date_quater= assignQuater(sample_date)
print(date_quater)

The corresponding quater for the date 2020-07-01 is 2020-Q3
None

In [8]:
my_quater= assignQuater(sample_date)

The corresponding quater for the date 2020-07-01 is 2020-Q3

In [9]:
print(my_quater)

None

Example 4: Let us write a function with multiple return statements

In [11]:
def check_even_or_odd(num):
  print(f'Given number is {num}')
  if num%2==0:
    return 'even'
  return 'odd'

is_even_odd= check_even_or_odd(4)
print(is_even_odd)

Given number is 4
even

Example 5: Now let us write a function which adds an element to a list. This function takes the list as an argument and the element to be added

In [13]:
def list_append(my_list, elem):
  new_list= my_list + [elem]
  return new_list

my_list= [1,2,3,4,5]
print(new_list)

[1, 2, 3, 4, 5, 6]

In [14]:
list_append(my_list, 6)

[1, 2, 3, 4, 5, 6]

In [15]:
print(my_list)

[1, 2, 3, 4, 5]

In [16]:
list_append(my_list, elem=7)

[1, 2, 3, 4, 5, 7]

In [18]:
print(my_list)

[1, 2, 3, 4, 5]

In [21]:
my_list.append(9)
print(my_list)

[1, 2, 3, 4, 5, 8, 8, 9]

#Scope

In [25]:
def experiment():
  global x
  x=50
  return x

x=25

In [26]:
experiment()

50

In [27]:
experiment()

50

In [28]:
x

50

In [30]:
#How do we make this function take the global variable x and change it?
def new_experiment():
  x=50
  return x
x=40

x

40

In [31]:
new_experiment()

50