<a href="https://colab.research.google.com/github/Programer1554/Data-Science-4-Sem/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops

for loops

Example 1

In [ ]:
#Consider a list of strings
got_houses = ["Stark", "Arryn", "Baratheon", "Tully", "Greyjoy", "Lannister", "Tyrell", "Martell"]

#A simple for loop to print the houses of GOT iniverse
for house in got_houses:
  print(f"House {house}")

House Stark
House Arryn
House Baratheon
House Tully
House Greyjoy
House Lannister
House Tyrell
House Martell

In [ ]:
got_houses

['Stark',
 'Arryn',
 'Baratheon',
 'Tully',
 'Greyjoy',
 'Lannister',
 'Tyrell',
 'Martell']

In [ ]:
#Using enumerate function to loop thorugh the elements of a list
for number, house in enumerate(got_houses):
  print(f"The house no of House {house}: {number}")

The house no of House Stark: 0
The house no of House Arryn: 1
The house no of House Baratheon: 2
The house no of House Tully: 3
The house no of House Greyjoy: 4
The house no of House Lannister: 5
The house no of House Tyrell: 6
The house no of House Martell: 7

In [ ]:
x= 1,2

x

(1, 2)

In [ ]:
list(enumerate(got_houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell')]

Example 2

In [ ]:
#The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

#Let us first print the squares
for number in list_of_numbers:
  print(f"The square of {number} is {number**2}")

The square of 1 is 1
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 11 is 121
The square of 14 is 196
The square of 17 is 289
The square of 20 is 400

Example 3

In [ ]:
list_of_numbers

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
#Let us first initialize a list where we will be appending the squares in each iteration
squares = []

for number in list_of_numbers:
  square = number**2
  squares.append(square)

print(f"The list of squared numbers is {squares}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)
print(squares)

[1, 2, 4, 6, 11, 14, 17, 20]
[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
#Let us zip the original numbers and squares together and get the dictionary
zipped_dict=dict(zip(list_of_numbers, squares))
#Let us print the dictionary where the key is the number and the value is the square of that number
print(f"The dictionary of numbers and their squares is {zipped_dict}")

The dictionary of numbers and their squares is {1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

Example 4

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
#Let us first print the squares
for number in list_of_numbers:
  if number%2 == 0:
    squarred_number = number**2
    print(f"The square of {number} is {squarred_number}")
  else:
    print(f"I am an odd number and I will not be squaring it {number}")

#print("\n")
#print("I am finished with my iteration")

I am an odd number and I will not be squaring it 1
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
I am an odd number and I will not be squaring it 11
The square of 14 is 196
I am an odd number and I will not be squaring it 17
The square of 20 is 400

In [ ]:
#using range()
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Let us first print the squares
for number in range(0,10,3):
  squarred_number = number**2
  print(f"The square of {number} is {squarred_number}")

The square of 0 is 0
The square of 3 is 9
The square of 6 is 36
The square of 9 is 81

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

Example 5

In [ ]:
#Print our list
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
#Let us initialize the sum of the squares with 0. This makes sense right?
sum_squares=0

for number in range(1,11):
  sum_squares= sum_squares + number
  print(sum_squares)

#Now we have added the squares of all the numbers in our list
print(f"The sum of squares of first 10 natural numbers is {sum_squares}")

1
3
6
10
15
21
28
36
45
55
The sum of squares of first 10 natural numbers is 55

Example 6

In [ ]:
#Let us store the sentence in a string value
hinsenberg_quote= 'I am the one who knocks'

#The next step is to print all the characters which are separated by whitespace
for char in hinsenberg_quote:
  print(f"The charactewr is {char}")

The charactewr is I
The charactewr is
The charactewr is a
The charactewr is m
The charactewr is
The charactewr is t
The charactewr is h
The charactewr is e
The charactewr is
The charactewr is o
The charactewr is n
The charactewr is e
The charactewr is
The charactewr is w
The charactewr is h
The charactewr is o
The charactewr is
The charactewr is k
The charactewr is n
The charactewr is o
The charactewr is c
The charactewr is k
The charactewr is s

In [ ]:
#Lets apply a for loop to do the above task
for index, char in enumerate(hinsenberg_quote):
  print(f"The character at index {index} is {char}")

The character at index 0 is I
The character at index 1 is
The character at index 2 is a
The character at index 3 is m
The character at index 4 is
The character at index 5 is t
The character at index 6 is h
The character at index 7 is e
The character at index 8 is
The character at index 9 is o
The character at index 10 is n
The character at index 11 is e
The character at index 12 is
The character at index 13 is w
The character at index 14 is h
The character at index 15 is o
The character at index 16 is
The character at index 17 is k
The character at index 18 is n
The character at index 19 is o
The character at index 20 is c
The character at index 21 is k
The character at index 22 is s

Example 7

In [ ]:
hinsenberg_quote= "It ceases to exist withput me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger; I am danger."
words_by_walter= hinsenberg_quote.split()
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'withput', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger;', 'I', 'am', 'danger.']

In [ ]:
#Now we can print each word by iterating though this list
for word in words_by_walter:
  if word in['I','me']:
    print(f"The word is {word}")

The word is me
The word is I
The word is I

Example 8

In [ ]:
#Suppose we have a tuple of days
days=('Monday', "Tuesday", 'Wednesday','Thursday','Friday', 'Saturday', 'Sunday')

for day in days:
  print(f"Today is {day}")

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

Example 9

In [ ]:
country_city_river_list=[("India", 'New Delhi',"Ganga"),("Australia","Canberra",'Rovers'),("United States","Washington DC",'Missouri'),("England", "London", "Thames")]
#Let us iterate through each tuple element of this list and unpack each item
for country, city, river in country_city_river_list:
  print(f"The capital of {country} is {city} and the largest river in {country} is {river}")

The capital of India is New Delhi and the largest river in India is Ganga
The capital of Australia is Canberra and the largest river in Australia is Rovers
The capital of United States is Washington DC and the largest river in United States is Missouri
The capital of England is London and the largest river in England is Thames

Example 10

In [ ]:
#Let's convert the list of tuples to a dictionary
country_city_dict=dict(country_city_list)
print(country_city_dict)

NameError: name 'country_city_list' is not defined

In [ ]:
country_city_dict={1:"India", 2:"USA"}
for item in country_city_dict:
  print(item, country_city_dict[item])

1 India
2 USA

In [ ]:
country_city_dict.items()

dict_items([(1, 'India'), (2, 'USA')])

In [ ]:
for country, city in country_city_dict.items():
  print(f"The capital of {country} is {city}")

The capital of 1 is India
The capital of 2 is USA

In [ ]:
for elem in {1,2,3,4,5}:
  print(elem)

1
2
3
4
5

#While Loops

while test:
  code statements

In [1]:
x=0
while x<10:
  print("x is currently: ",x)
  print("x is still less than 10, adding 1 to x")
  x=x+1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [2]:
x=0
while x<5:
  print("x is currently: ",x)
  print("x is still less than 10, adding 1 to x")
  x=x+1

print("Condition reached. Ending iteration.")

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
Condition reached. Ending iteration.

break, continue, pass

In [3]:
#Using break and continue statements
x=0

while x<10:
  print("x is currently: ",x)
  print("x is still less than 10, adding 1 to x")
  x=x+1
  if x==3:
    print('x==3')
    break
  else:
    print('continuing...')
    continue

x is currently:  0
x is still less than 10, adding 1 to x
continuing...
x is currently:  1
x is still less than 10, adding 1 to x
continuing...
x is currently:  2
x is still less than 10, adding 1 to x
x==3